<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamwork.project.projects.mapper.ProjectInfoLogMapper">

    <resultMap type="com.teamwork.project.projects.domain.ProjectInfoLog" id="ProjectInfoLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="operatetime" column="operateTime" jdbcType="TIMESTAMP"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, project_id, user_id, operateTime, content, status, remark
    </sql>
    <select id="getProjectLog" parameterType="java.lang.Long" resultMap="ProjectInfoLogMap">
        select
        pl.id, pl.project_id, pl.user_id, pl.operateTime, pl.content, pl.status, pl.remark, p.project_name, u.user_name, u.nick_name
        from project_info_log pl
        left join project_info p on p.project_id = pl.project_id
        left join sys_user u on u.user_id = pl.user_id
        where project_id = #{projectId,jdbcType=BIGINT}
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="ProjectInfoLogMap">
        select
        <include refid="Base_Column_List" />
        from project_info_log
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProjectInfoLogMap">
        select
        <include refid="Base_Column_List" />
        from project_info_log
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProjectInfoLogMap">
        select
        <include refid="Base_Column_List" />
        from project_info_log
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="operatetime != null">
                and operateTime = #{operatetime}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into project_info_log(project_id, user_id, operateTime, content, status, remark)
        values (#{projectId}, #{userId}, #{operatetime}, #{content}, #{status}, #{remark})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update project_info_log
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="operatetime != null">
                operateTime = #{operatetime},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from project_info_log where id = #{id}
    </delete>

</mapper>