<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamwork.project.projects.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.teamwork.project.projects.domain.Task">
    <!--@mbg.generated-->
    <!--@Table task_info-->
    <id column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="task_tag" jdbcType="SMALLINT" property="taskTag" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    task_id, project_id, task_name, task_tag, start_time, stop_time, `status`,
    create_by, create_time, update_by, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from task_info
    where task_id = #{taskId,jdbcType=BIGINT}
  </select>
  <select id="selectTaskUsers" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select su.user_id, su.dept_id, su.user_name, su.nick_name, su.user_type, su.email, su.phonenumber, su.sex, su.avatar
    from sys_user_task sut
    where task_id = #{taskId,jdbcType=BIGINT}
    left join sys_user su on sup.user_id = su.user_id
  </select>
  <select id="selectTaskList" parameterType="com.teamwork.project.projects.domain.Task" resultMap="BaseResultMap">
    select
    t.task_id, t.project_id, t.task_name, t.task_tag, t.start_time, t.stop_time, t.status,
    t.create_by, t.create_time, t.update_by, t.update_time, t.remark, p.project_name
    from task_info t
    left join project_info p on t.project_id = p.project_id
    <where>
      <if test="taskId != null">
        AND task_id = #{taskId}
      </if>
      <if test="taskName != null">
        AND task_name like concat('%', #{taskName}, '%')
      </if>
      <if test="taskTag != null">
        AND task_tag = #{taskTag}
      </if>
      <if test="startTime != null">
        AND start_time = #{startTime}
      </if>
      <if test="stopTime != null">
        AND stop_time = #{stopTime}
      </if>
      <if test="status != null">
        AND t.status = #{status}
      </if>
      <if test="createBy != null">
        AND create_by = #{createBy}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="updateBy != null">
        AND update_by = #{updateBy}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="remark != null">
        AND remark = #{remark}
      </if>
      <if test="projectId != null">
        AND t.project_id = #{projectId}
      </if>
    </where>
  </select>
  <select id="selectTaskListByUser" parameterType="com.teamwork.project.projects.domain.Task" resultMap="BaseResultMap">
    select t.task_id, t.project_id, t.task_name, t.task_tag, t.start_time, t.stop_time, t.status,
        t.create_by, t.create_time, t.update_by, t.update_time, t.remark, p.project_name, sut.status as taskUserStatus
    from task_info t
    left join sys_user_task sut on t.task_id = sut.task_id
    left join project_info p on p.project_id = t.project_id
        <where>
          <if test="taskId != null">
            AND t.task_id = #{taskId}
          </if>
          <if test="taskName != null">
            AND t.task_name like concat('%', #{taskName}, '%')
          </if>
          <if test="taskTag != null">
            AND t.task_tag = #{taskTag}
          </if>
          <if test="startTime != null">
            AND t.start_time = #{startTime}
          </if>
          <if test="stopTime != null">
            AND t.stop_time = #{stopTime}
          </if>
          <if test="status != null">
            AND t.status = #{status}
          </if>
          <if test="createBy != null">
            AND t.create_by = #{createBy}
          </if>
          <if test="createTime != null">
            AND t.create_time = #{createTime}
          </if>
          <if test="updateBy != null">
            AND t.update_by = #{updateBy}
          </if>
          <if test="updateTime != null">
            AND t.update_time = #{updateTime}
          </if>
          <if test="remark != null">
            AND t.remark = #{remark}
          </if>
          <if test="projectId != null">
            AND t.project_id = #{projectId}
          </if>
          <if test="taskUserId != null">
            AND sut.user_id = #{taskUserId}
          </if>
          <choose>
            <when test="taskUserStatus == 0">
              AND sut.status != 1
            </when>
            <otherwise>
              AND sut.status = #{taskUserStatus}
            </otherwise>
          </choose>
        </where>
<!--    select-->
<!--    t.*, p.project_name,u.status as taskUserStatus-->
<!--    from task_info t-->
<!--    left join project_info p on t.project_id = p.project_id-->
<!--    <if test="taskUserStatus == 0">-->
<!--      INNER JOIN sys_user_task u ON u.status != 1 and t.task_id = u.task_id-->
<!--      <if test="taskUserId != null">-->
<!--        and u.user_id = #{taskUserId}-->
<!--      </if>-->
<!--    </if>-->
<!--    <if test="taskUserStatus != 0">-->
<!--      INNER JOIN sys_user_task u ON t.task_id = u.task_id and u.status = #{taskUserStatus}-->
<!--      <if test="taskUserId != null">-->
<!--        and u.user_id = #{taskUserId}-->
<!--      </if>-->
<!--    </if>-->
<!--    <where>-->
<!--      <if test="taskId != null">-->
<!--        AND task_id = #{taskId}-->
<!--      </if>-->
<!--      <if test="taskName != null">-->
<!--        AND task_name like concat('%', #{taskName}, '%')-->
<!--      </if>-->
<!--      <if test="taskTag != null">-->
<!--        AND task_tag = #{taskTag}-->
<!--      </if>-->
<!--      <if test="startTime != null">-->
<!--        AND start_time = #{startTime}-->
<!--      </if>-->
<!--      <if test="stopTime != null">-->
<!--        AND stop_time = #{stopTime}-->
<!--      </if>-->
<!--      <if test="status != null">-->
<!--        AND t.status = #{status}-->
<!--      </if>-->
<!--      <if test="createBy != null">-->
<!--        AND create_by = #{createBy}-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        AND create_time = #{createTime}-->
<!--      </if>-->
<!--      <if test="updateBy != null">-->
<!--        AND update_by = #{updateBy}-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        AND update_time = #{updateTime}-->
<!--      </if>-->
<!--      <if test="remark != null">-->
<!--        AND remark = #{remark}-->
<!--      </if>-->
<!--      <if test="projectId != null">-->
<!--        AND t.project_id = #{projectId}-->
<!--      </if>-->
<!--    </where>-->
  </select>
  <select id="selectTaskRepeat" parameterType="com.teamwork.project.projects.domain.Task" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    <where>
      <if test="taskId != null">
        AND task_id != #{taskId}
      </if>
      <if test="projectId != null">
        AND project_id = #{projectId}
      </if>
      <if test="taskName != null">
        AND task_name = #{taskName}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from task_info
    where task_id = #{taskId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="task_id" keyProperty="taskId" parameterType="com.teamwork.project.projects.domain.Task" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into task_info (project_id, task_name, task_tag,
      start_time, stop_time,
      `status`, create_by, create_time,
      update_by, update_time, remark
      )
    values (#{projectId,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskTag,jdbcType=SMALLINT},
      #{startTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=SMALLINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="task_id" keyProperty="taskId" parameterType="com.teamwork.project.projects.domain.Task" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into task_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskTag != null">
        task_tag,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="stopTime != null">
        stop_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskTag != null">
        #{taskTag,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null">
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teamwork.project.projects.domain.Task">
    <!--@mbg.generated-->
    update task_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskTag != null">
        task_tag = #{taskTag,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null">
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teamwork.project.projects.domain.Task">
    <!--@mbg.generated-->
    update task_info
    set project_id = #{projectId,jdbcType=BIGINT},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_tag = #{taskTag,jdbcType=SMALLINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=SMALLINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=BIGINT}
  </update>
</mapper>
